.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.form-style {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 100%;
}
