.form-container {
  display: flex;
  justify-content: center;
  align-content: center;
}

.form-style {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.form-style ul {
  color: red;
}
