.submit-button-style {
  border-style: none;
  border-radius: 5px;
  background-color: lightgrey;
  border-width: 1px;
  cursor: pointer;
  width: 25%;
  height: 2rem;
}

.submit-container {
  display: flex;
  justify-content: center;
}

.submit-button-style:hover {
  border-style: solid;
  border-color: darkgrey;
  border-width: 1px;
  border-radius: 5px;
}
